<% layout("layouts/boilerplate") -%>

<body>
   
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5">
     <% for (let listing of allListings){ %>
    <a href="/listing/<%= listing._id %>" class ="listing-link">
        <div class="card col listing-card" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;" >
            <div class="card-img-overlay"></div>
             <div class="card-body">
                <p class="card-text">
                <b> <%= listing.title %> </b><br>
                
                <% const originalPrice = listing.price; %>
                <% const gstRate = 20; %>
                <% const gstAmount = (originalPrice * gstRate) / 100; %>
                <% const netPrice = originalPrice + gstAmount; %>
                &#8377; <%= originalPrice.toLocaleString("en-IN") %> /night
                <i class="tax-info">
                &nbsp; &nbsp; 
                Net price : ₹<%= netPrice.toLocaleString("en-IN") %>/night
</i>
                </p>
             </div>
        </div>
    </a>
    <% } %>
    </div>
    
</body>
